

header {
    margin: 0;
}

.header-menu {
    font-size: 25px;
    margin: 0;
    padding: 0 ;
    background-color: #110506;
}


.logo {
    width: 100%;
    height: auto;
   
    
    padding: 0;

}

.ian-head {
    font-size: 50px;
    font-weight: 400;
    
   
    padding: 0 ;
    background-color: #eee2e3;
}

.footer-menu {
    font-size: 25px;
    margin: 0;
    padding: 0 ;
    background-color: #110506;
}


