
.background {
    background-color: #413f3f;
}

header {
    margin: 0;
}

.header-menu {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 0 ;
    background-color: #181616;
    color: #eee0e0;
}

.section-1 {
    margin-bottom: 10px;
}

.logo {
    width: 100%;
    height: auto;
   
    
    padding: 0;

}

.ian-head {
    font-size: 20;
    font-weight: 400;
    
    padding: 0 ;
    background-color: #eee2e3;
}



.footer-menu {
    font-size: 25px;
    margin-top: 20px;
    padding: 0 ;
    background-color: #181616;
    color: #eee0e0;
}


