



.header-menu {
    font-size: 25px;
    margin: 0;
    padding: 0 ;
    background-color: #110506;
}

.img-onstage {
    width: 100%;
    height: auto;
    margin-left: -15px;
    padding: 0;

}

.footer-menu {
    font-size: 25px;
    margin: 0;
    padding: 0 ;
    background-color: #110506;
}


